buckettools/schemas/element.rnc

include "spud_base.rnc"

generic_element_family = 
  (
     ## Element family:
     ##
     ## - CG = Lagrange (continuous Galerkin)
     ##
     ## - DG = Discontinuous Lagrange (discontinuous Galerkin)
     ##
     ## - Q  = Quadrature
     ##
     ## - R  = Real (global constant)
     element family {
        # a hard coded string_value
        element string_value {
          ( "CG" | "DG" | "Q" | "R" )
        }
     }
  )

cg_element_family = 
  (
     ## Element family
     element family {
        # a hard coded string_value
        element string_value {
          ( "CG" )
        }
     }
  )

dg_element_family = 
  (
     ## Element family
     element family {
        # a hard coded string_value
        element string_value {
          ( "DG" )
        }
     }
  )

q_element_family = 
  (
     ## Element family
     element family {
        # a hard coded string_value
        element string_value {
          ( "Q" )
        }
     }
  )

r_element_family = 
  (
     ## Element family
     element family {
        # a hard coded string_value
        element string_value {
          ( "R" )
        }
     }
  )

generic_element_degree =
  (
     ## Element degree
     element degree {
       integer
     }
  )

p0_element_degree =
  (
     ## Element degree
     element degree {
       element integer_value {
          attribute rank {"0"},
          ( "0" )
       }
     }
  )

p1_element_degree =
  (
     ## Element degree
     element degree {
       element integer_value {
          attribute rank {"0"},
          ( "1" )
       }
     }
  )

p2_element_degree =
  (
     ## Element degree
     element degree {
       element integer_value {
          attribute rank {"0"},
          ( "2" )
       }
     }
  )

p3_element_degree =
  (
     ## Element degree
     element degree {
       element integer_value {
          attribute rank {"0"},
          ( "3" )
       }
     }
  )

p4_element_degree =
  (
     ## Element degree
     element degree {
       element integer_value {
          attribute rank {"0"},
          ( "4" )
       }
     }
  )

generic_element =
  (
     generic_element_family,
     generic_element_degree
  )

p1_element =
  (
     cg_element_family,
     p1_element_degree
  )

p2_element =
  (
     cg_element_family,
     p2_element_degree
  )

p0_element =
  (
     dg_element_family,
     p0_element_degree
  )

p1dg_element =
  (
     dg_element_family,
     p1_element_degree
  )

p2dg_element =
  (
     dg_element_family,
     p2_element_degree
  )

q1_element =
  (
     q_element_family,
     p1_element_degree
  )

q2_element =
  (
     q_element_family,
     p2_element_degree
  )

q3_element =
  (
     q_element_family,
     p3_element_degree
  )

q4_element =
  (
     q_element_family,
     p4_element_degree
  )

r0_element =
  (
     r_element_family,
     p0_element_degree
  )

vector_element_options =
  (
    ## The size (length) of the vector.
    element size {
      integer
    }?
  )

tensor_element_options =
  (
    ## The shape of the tensor.
    element shape {
      integer_2_vector
    }?,
    ## Tensor symmetry.
    element symmetric {
      empty
    }?
  )

element_options_scalar = element_options_scalar_not_lagrange
element_options_scalar |= element_options_scalar_lagrange
element_options_scalar |= element_options_scalar_user

element_options_scalar_user =
  (
     (
       ## Options describing a user defined finite element.
       element element {
         attribute name { "UserDefined" },
         generic_element
       }
     )
  )

element_options_scalar_lagrange =
  (
     (
       ## Options describing piecewise linear continuous Lagrange finite element.
       element element {
         attribute name { "P1" },
         p1_element
       }|
       ## Options describing piecewise quadratic continuous Lagrange finite element.
       element element {
         attribute name { "P2" },
         p2_element
       }|
       ## Options describing piecewise linear discontinuous Lagrange finite element.
       element element {
         attribute name { "P1DG" },
         p1dg_element
       }|
       ## Options describing piecewise quadratic discontinuous Lagrange finite element.
       element element {
         attribute name { "P2DG" },
         p2dg_element
       }
     )
  )

element_options_scalar_not_lagrange =
  (
     (
       ## Options describing piecewise constant discontinuous Lagrange finite element.
       element element {
         attribute name { "P0" },
         p0_element
       }|
       ## Options describing piecewise linear quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q1" },
         q1_element
       }|
       ## Options describing piecewise quadratic quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q2" },
         q2_element
       }|
       ## Options describing piecewise cubic quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q3" },
         q3_element
       }|
       ## Options describing piecewise quartic quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q4" },
         q4_element
       }|
       ## Options describing piecewise constant continuous real, e.g. for a global Lagrange multiplier.
       element element {
         attribute name { "R0" },
         r0_element
       }
     )
  )

element_options_vector =
  (
     (
       ## Options describing a user defined finite element for a vector.
       element element {
         attribute name { "UserDefined" },
         generic_element,
         vector_element_options
       }|
       ## Options describing piecewise linear continuous Lagrange finite element for a vector.
       element element {
         attribute name { "P1" },
         p1_element,
         vector_element_options
       }|
       ## Options describing piecewise quadratic continuous Lagrange finite element for a vector.
       element element {
         attribute name { "P2" },
         p2_element,
         vector_element_options
       }|
       ## Options describing piecewise linear discontinuous Lagrange finite element for a vector.
       element element {
         attribute name { "P1DG" },
         p1dg_element,
         vector_element_options
       }|
       ## Options describing piecewise quadratic discontinuous Lagrange finite element for a vector.
       element element {
         attribute name { "P2DG" },
         p2dg_element,
         vector_element_options
       }|
       ## Options describing piecewise constant discontinuous Lagrange finite element for a vector.
       element element {
         attribute name { "P0" },
         p0_element,
         vector_element_options
       }|
       ## Options describing piecewise linear quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q1" },
         q1_element,
         vector_element_options
       }|
       ## Options describing piecewise quadratic quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q2" },
         q2_element,
         vector_element_options
       }|
       ## Options describing piecewise cubic quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q3" },
         q3_element,
         vector_element_options
       }|
       ## Options describing piecewise quartic quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q4" },
         q4_element,
         vector_element_options
       }|
       ## Options describing piecewise constant continuous real for a vector, e.g. for a global Lagrange multiplier.
       element element {
         attribute name { "R0" },
         r0_element,
         vector_element_options
       }
     )
  )

element_options_tensor =
  (
     (
       ## Options describing a user defined finite element for a tensor.
       element element {
         attribute name { "UserDefined" },
         generic_element,
         tensor_element_options
       }|
       ## Options describing piecewise linear continuous Lagrange finite element for a tensor.
       element element {
         attribute name { "P1" },
         p1_element,
         tensor_element_options
       }|
       ## Options describing piecewise quadratic continuous Lagrange finite element for a tensor.
       element element {
         attribute name { "P2" },
         p2_element,
         tensor_element_options
       }|
       ## Options describing piecewise linear discontinuous Lagrange finite element for a tensor.
       element element {
         attribute name { "P1DG" },
         p1dg_element,
         tensor_element_options
       }|
       ## Options describing piecewise quadratic discontinuous Lagrange finite element for a tensor.
       element element {
         attribute name { "P2DG" },
         p2dg_element,
         tensor_element_options
       }|
       ## Options describing piecewise constant discontinuous Lagrange finite element for a tensor.
       element element {
         attribute name { "P0" },
         p0_element,
         tensor_element_options
       }|
       ## Options describing piecewise linear quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q1" },
         q1_element,
         tensor_element_options
       }|
       ## Options describing piecewise quadratic quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q2" },
         q2_element,
         tensor_element_options
       }|
       ## Options describing piecewise cubic quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q3" },
         q3_element,
         tensor_element_options
       }|
       ## Options describing piecewise quartic quadrature element, i.e. the degrees of freedom are the quadrature points.
       element element {
         attribute name { "Q4" },
         q4_element,
         tensor_element_options
       }|
       ## Options describing piecewise constant continuous real for a tensor, e.g. for a global Lagrange multiplier.
       element element {
         attribute name { "R0" },
         r0_element,
         tensor_element_options
       }
     )
  )

