buckettools/schemas/element.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0">
  <!--
    Copyright (C) 2013 Columbia University in the City of New York and others.
    
    Please see the AUTHORS file in the main source directory for a full list
    of contributors.
    
    This file is part of TerraFERMA.
    
    TerraFERMA is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    TerraFERMA is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public License
    along with TerraFERMA. If not, see <http://www.gnu.org/licenses/>.
  -->
  <include href="spud_base.rng"/>
  <define name="generic_element_family">
    <element name="family">
      <a:documentation>Element family:

- CG = Lagrange (continuous Galerkin)

- DG = Discontinuous Lagrange (discontinuous Galerkin)

- R  = Real (global constant)

- Quadrature</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <choice>
          <value>CG</value>
          <value>DG</value>
          <value>R</value>
          <value>Quadrature</value>
        </choice>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="generic_vector_element_family">
    <element name="family">
      <a:documentation>Element family:

- CG = Lagrange (continuous Galerkin)

- DG = Discontinuous Lagrange (discontinuous Galerkin)

- RT = Raviart-Thomas

- DRT = Discontinuous Raviart-Thomas

- BDM = Brezzi–Douglas–Marini

- R  = Real (global constant)

- Quadrature</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <choice>
          <value>CG</value>
          <value>DG</value>
          <value>RT</value>
          <value>DRT</value>
          <value>BDM</value>
          <value>R</value>
          <value>Quadrature</value>
        </choice>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="generic_enrichment_element_family">
    <element name="family">
      <a:documentation>Element family:

- B = Bubble</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>B</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="b_element_family">
    <element name="family">
      <a:documentation>Element family

- B = Bubble</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>B</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="rt_element_family">
    <element name="family">
      <a:documentation>Element family

- RT = Raviart-Thomas</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>RT</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="drt_element_family">
    <element name="family">
      <a:documentation>Element family

- DRT = Discontinuous Raviart-Thomas</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>DRT</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="bdm_element_family">
    <element name="family">
      <a:documentation>Element family

- BDM = Brezzi–Douglas–Marini</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>BDM</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="cg_element_family">
    <element name="family">
      <a:documentation>Element family

- CG = Lagrange (continuous Galerkin)</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>CG</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="dg_element_family">
    <element name="family">
      <a:documentation>Element family

- DG = Discontinuous Lagrange (discontinuous Galerkin)</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>DG</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="r_element_family">
    <element name="family">
      <a:documentation>Element family

- R  = Real (global constant)</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>R</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="q_element_family">
    <element name="family">
      <a:documentation>Element family

- Quadrature</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>Quadrature</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="generic_element_degree">
    <element name="degree">
      <a:documentation>Element (or quadrature) degree</a:documentation>
      <ref name="integer"/>
    </element>
  </define>
  <define name="quadrature_element_degree">
    <element name="degree">
      <a:documentation>Quadrature degree.

Note that this restricts the quadrature degree of any form in which it appears and must not conflict
with the degree set in the form.

Importantly, this is the degree of the resulting form not the function itself!</a:documentation>
      <ref name="integer"/>
    </element>
  </define>
  <define name="p0_element_degree">
    <element name="degree">
      <a:documentation>Element degree</a:documentation>
      <element name="integer_value">
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <value>0</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="p1_element_degree">
    <element name="degree">
      <a:documentation>Element degree</a:documentation>
      <element name="integer_value">
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <value>1</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="p2_element_degree">
    <element name="degree">
      <a:documentation>Element degree</a:documentation>
      <element name="integer_value">
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <value>2</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="p3_element_degree">
    <element name="degree">
      <a:documentation>Element degree</a:documentation>
      <element name="integer_value">
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <value>3</value>
      </element>
      <ref name="comment"/>
    </element>
  </define>
  <define name="generic_element">
    <ref name="generic_element_family"/>
    <ref name="generic_element_degree"/>
  </define>
  <define name="generic_vector_element">
    <ref name="generic_vector_element_family"/>
    <ref name="generic_element_degree"/>
  </define>
  <define name="generic_enrichment_element">
    <ref name="generic_enrichment_element_family"/>
    <ref name="generic_element_degree"/>
  </define>
  <define name="b3_element">
    <ref name="b_element_family"/>
    <ref name="p3_element_degree"/>
  </define>
  <define name="rt1_element">
    <ref name="rt_element_family"/>
    <ref name="p1_element_degree"/>
  </define>
  <define name="rt2_element">
    <ref name="rt_element_family"/>
    <ref name="p2_element_degree"/>
  </define>
  <define name="drt1_element">
    <ref name="drt_element_family"/>
    <ref name="p1_element_degree"/>
  </define>
  <define name="drt2_element">
    <ref name="drt_element_family"/>
    <ref name="p2_element_degree"/>
  </define>
  <define name="bdm1_element">
    <ref name="bdm_element_family"/>
    <ref name="p1_element_degree"/>
  </define>
  <define name="bdm2_element">
    <ref name="bdm_element_family"/>
    <ref name="p2_element_degree"/>
  </define>
  <define name="p1_element">
    <ref name="cg_element_family"/>
    <ref name="p1_element_degree"/>
  </define>
  <define name="p2_element">
    <ref name="cg_element_family"/>
    <ref name="p2_element_degree"/>
  </define>
  <define name="p0_element">
    <ref name="dg_element_family"/>
    <ref name="p0_element_degree"/>
  </define>
  <define name="p1dg_element">
    <ref name="dg_element_family"/>
    <ref name="p1_element_degree"/>
  </define>
  <define name="p2dg_element">
    <ref name="dg_element_family"/>
    <ref name="p2_element_degree"/>
  </define>
  <define name="p0r_element">
    <ref name="r_element_family"/>
    <ref name="p0_element_degree"/>
  </define>
  <define name="quadrature_element">
    <ref name="q_element_family"/>
    <ref name="quadrature_element_degree"/>
  </define>
  <define name="vector_element_options">
    <optional>
      <element name="size">
        <a:documentation>The size (length) of the vector.</a:documentation>
        <ref name="integer"/>
      </element>
    </optional>
  </define>
  <define name="tensor_element_options">
    <optional>
      <element name="shape">
        <a:documentation>The shape of the tensor.</a:documentation>
        <ref name="integer_2_vector"/>
      </element>
    </optional>
    <optional>
      <element name="symmetric">
        <a:documentation>Tensor symmetry.</a:documentation>
        <ref name="comment"/>
      </element>
    </optional>
  </define>
  <define name="enrichment_options">
    <optional>
      <element name="enrichment">
        <ref name="element_options_enrichment"/>
      </element>
    </optional>
  </define>
  <define name="element_options_enrichment">
    <choice>
      <element name="element">
        <attribute name="name">
          <value>UserDefined</value>
        </attribute>
        <ref name="generic_enrichment_element"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing a</a:documentation>
        <attribute name="name">
          <value>B3</value>
        </attribute>
        <ref name="b3_element"/>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
  <define name="element_options_scalar">
    <ref name="element_options_scalar_not_lagrange"/>
  </define>
  <define name="element_options_scalar" combine="choice">
    <ref name="element_options_scalar_lagrange"/>
  </define>
  <define name="element_options_scalar" combine="choice">
    <ref name="element_options_scalar_user"/>
  </define>
  <define name="element_options_scalar_user">
    <element name="element">
      <a:documentation>Options describing a user defined finite element.</a:documentation>
      <attribute name="name">
        <value>UserDefined</value>
      </attribute>
      <ref name="generic_element"/>
      <ref name="enrichment_options"/>
      <ref name="comment"/>
    </element>
  </define>
  <define name="element_options_scalar_lagrange">
    <choice>
      <element name="element">
        <a:documentation>Options describing piecewise linear continuous Lagrange finite element.</a:documentation>
        <attribute name="name">
          <value>P1</value>
        </attribute>
        <ref name="p1_element"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic continuous Lagrange finite element.</a:documentation>
        <attribute name="name">
          <value>P2</value>
        </attribute>
        <ref name="p2_element"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise linear discontinuous Lagrange finite element.</a:documentation>
        <attribute name="name">
          <value>P1DG</value>
        </attribute>
        <ref name="p1dg_element"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic discontinuous Lagrange finite element.</a:documentation>
        <attribute name="name">
          <value>P2DG</value>
        </attribute>
        <ref name="p2dg_element"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
  <define name="element_options_scalar_not_lagrange">
    <choice>
      <element name="element">
        <a:documentation>Options describing piecewise constant discontinuous Lagrange finite element.</a:documentation>
        <attribute name="name">
          <value>P0</value>
        </attribute>
        <ref name="p0_element"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise constant continuous real, e.g. for a global Lagrange multiplier.</a:documentation>
        <attribute name="name">
          <value>P0R</value>
        </attribute>
        <ref name="p0r_element"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing a piecewise constant quadrature element.</a:documentation>
        <attribute name="name">
          <value>Quadrature</value>
        </attribute>
        <ref name="quadrature_element"/>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
  <define name="element_options_vector">
    <choice>
      <element name="element">
        <a:documentation>Options describing a user defined finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>UserDefined</value>
        </attribute>
        <ref name="generic_vector_element"/>
        <ref name="vector_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise linear continuous Lagrange finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>P1</value>
        </attribute>
        <ref name="p1_element"/>
        <ref name="vector_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic continuous Lagrange finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>P2</value>
        </attribute>
        <ref name="p2_element"/>
        <ref name="vector_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise linear discontinuous Lagrange finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>P1DG</value>
        </attribute>
        <ref name="p1dg_element"/>
        <ref name="vector_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic discontinuous Lagrange finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>P2DG</value>
        </attribute>
        <ref name="p2dg_element"/>
        <ref name="vector_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise constant discontinuous Lagrange finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>P0</value>
        </attribute>
        <ref name="p0_element"/>
        <ref name="vector_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing first degree Raviart-Thomas element for a vector.</a:documentation>
        <attribute name="name">
          <value>RT1</value>
        </attribute>
        <ref name="rt1_element"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing second degree Raviart-Thomas element for a vector.</a:documentation>
        <attribute name="name">
          <value>RT2</value>
        </attribute>
        <ref name="rt2_element"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing first degree discontinuous Raviart-Thomas element for a vector.</a:documentation>
        <attribute name="name">
          <value>DRT1</value>
        </attribute>
        <ref name="drt1_element"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing second degree discontinuous Raviart-Thomas element for a vector.</a:documentation>
        <attribute name="name">
          <value>DRT2</value>
        </attribute>
        <ref name="drt2_element"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing first degree discontinuous Raviart-Thomas element for a vector.</a:documentation>
        <attribute name="name">
          <value>BDM1</value>
        </attribute>
        <ref name="bdm1_element"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing second degree discontinuous Raviart-Thomas element for a vector.</a:documentation>
        <attribute name="name">
          <value>BDM2</value>
        </attribute>
        <ref name="bdm2_element"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise constant continuous real for a vector, e.g. for a global Lagrange multiplier.</a:documentation>
        <attribute name="name">
          <value>P0R</value>
        </attribute>
        <ref name="p0r_element"/>
        <ref name="vector_element_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing a piecewise constant quadrature element for a vector.</a:documentation>
        <attribute name="name">
          <value>Quadrature</value>
        </attribute>
        <ref name="quadrature_element"/>
        <ref name="vector_element_options"/>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
  <define name="element_options_tensor">
    <choice>
      <element name="element">
        <a:documentation>Options describing a user defined finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>UserDefined</value>
        </attribute>
        <ref name="generic_element"/>
        <ref name="tensor_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise linear continuous Lagrange finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>P1</value>
        </attribute>
        <ref name="p1_element"/>
        <ref name="tensor_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic continuous Lagrange finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>P2</value>
        </attribute>
        <ref name="p2_element"/>
        <ref name="tensor_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise linear discontinuous Lagrange finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>P1DG</value>
        </attribute>
        <ref name="p1dg_element"/>
        <ref name="tensor_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic discontinuous Lagrange finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>P2DG</value>
        </attribute>
        <ref name="p2dg_element"/>
        <ref name="tensor_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise constant discontinuous Lagrange finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>P0</value>
        </attribute>
        <ref name="p0_element"/>
        <ref name="tensor_element_options"/>
        <ref name="enrichment_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise constant continuous real for a tensor, e.g. for a global Lagrange multiplier.</a:documentation>
        <attribute name="name">
          <value>P0R</value>
        </attribute>
        <ref name="p0r_element"/>
        <ref name="tensor_element_options"/>
        <ref name="comment"/>
      </element>
      <element name="element">
        <a:documentation>Options describing a piecewise constant quadrature element for a tensor.</a:documentation>
        <attribute name="name">
          <value>Quadrature</value>
        </attribute>
        <ref name="quadrature_element"/>
        <ref name="tensor_element_options"/>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
</grammar>
