buckettools/schemas/element.rnc

# Copyright (C) 2013 Columbia University in the City of New York and others.
#
# Please see the AUTHORS file in the main source directory for a full list
# of contributors.
#
# This file is part of TerraFERMA.
#
# TerraFERMA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# TerraFERMA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with TerraFERMA. If not, see <http://www.gnu.org/licenses/>.

include "spud_base.rnc"
include "ufl.rnc"

generic_element_family = 
  (
     ## Element family:
     ##
     ## - CG = Lagrange (continuous Galerkin)
     ##
     ## - DG = Discontinuous Lagrange (discontinuous Galerkin)
     ##
     ## - R  = Real (global constant)
     ##
     ## - Quadrature
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "CG" | "DG" | "R" | "Quadrature" )
        },
        comment
     }
  )

generic_vector_element_family = 
  (
     ## Element family:
     ##
     ## - CG = Lagrange (continuous Galerkin)
     ##
     ## - DG = Discontinuous Lagrange (discontinuous Galerkin)
     ##
     ## - RT = Raviart-Thomas
     ##
     ## - DRT = Discontinuous Raviart-Thomas
     ##
     ## - BDM = Brezzi–Douglas–Marini
     ##
     ## - N1curl = Nedelec 1st kind H(curl)
     ##
     ## - N2curl = Nedelec 2nd kind H(curl)
     ##
     ## - R  = Real (global constant)
     ##
     ## - Quadrature
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "CG" | "DG" | "RT" | "DRT" | "BDM" | "N1curl" | "N2curl" | "R" | "Quadrature" )
        },
        comment
     }
  )

generic_enrichment_element_family = 
  (
     ## Element family:
     ##
     ## - B = Bubble
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "B" )
        },
        comment
     }
  )

b_element_family = 
  (
     ## Element family
     ##
     ## - B = Bubble
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "B" )
        },
        comment
     }
  )

rt_element_family = 
  (
     ## Element family
     ##
     ## - RT = Raviart-Thomas
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "RT" )
        },
        comment
     }
  )

drt_element_family = 
  (
     ## Element family
     ##
     ## - DRT = Discontinuous Raviart-Thomas
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "DRT" )
        },
        comment
     }
  )

bdm_element_family = 
  (
     ## Element family
     ##
     ## - BDM = Brezzi–Douglas–Marini
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "BDM" )
        },
        comment
     }
  )

n1curl_element_family = 
  (
     ## Element family
     ##
     ## - N1curl = Nedelec 1st kind H(curl)
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "N1curl" )
        },
        comment
     }
  )

n2curl_element_family = 
  (
     ## Element family
     ##
     ## - N2curl = Nedelec 2nd kind H(curl)
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "N2curl" )
        },
        comment
     }
  )

cg_element_family = 
  (
     ## Element family
     ##
     ## - CG = Lagrange (continuous Galerkin)
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "CG" )
        },
        comment
     }
  )

dg_element_family = 
  (
     ## Element family
     ##
     ## - DG = Discontinuous Lagrange (discontinuous Galerkin)
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "DG" )
        },
        comment
     }
  )

r_element_family = 
  (
     ## Element family
     ##
     ## - R  = Real (global constant)
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "R" )
        },
        comment
     }
  )

q_element_family = 
  (
     ## Element family
     ##
     ## - Quadrature
     element family {
        # a hard coded string_value
        element string_value {
          # Lines is a hint to the gui about the size of the text box.
          # It is not an enforced limit on string length.
          attribute lines { "1" },
          ( "Quadrature" )
        },
        comment
     }
  )

generic_element_degree =
  (
     ## Element (or quadrature) degree
     element degree {
       integer
     }
  )

quadrature_element_degree =
  (
     ## Quadrature degree.
     ##
     ## Note that this restricts the quadrature degree of any form in which it appears and must not conflict
     ## with the degree set in the form.
     ##
     ## Importantly, this is the degree of the resulting form not the function itself!
     element degree {
       integer
     }
  )

p0_element_degree =
  (
     ## Element degree
     element degree {
       element integer_value {
          attribute rank {"0"},
          ( "0" )
       }, 
       comment
     }
  )

p1_element_degree =
  (
     ## Element degree
     element degree {
       element integer_value {
          attribute rank {"0"},
          ( "1" )
       },
       comment
     }
  )

p2_element_degree =
  (
     ## Element degree
     element degree {
       element integer_value {
          attribute rank {"0"},
          ( "2" )
       }, 
       comment
     }
  )

p3_element_degree =
  (
     ## Element degree
     element degree {
       element integer_value {
          attribute rank {"0"},
          ( "3" )
       }, 
       comment
     }
  )

generic_element =
  (
     generic_element_family,
     generic_element_degree
  )

generic_vector_element =
  (
     generic_vector_element_family,
     generic_element_degree
  )

generic_enrichment_element =
  (
     generic_enrichment_element_family,
     generic_element_degree
  )

b3_element =
  (
     b_element_family,
     p3_element_degree
  )

rt1_element =
  (
     rt_element_family,
     p1_element_degree
  )

rt2_element =
  (
     rt_element_family,
     p2_element_degree
  )

drt1_element =
  (
     drt_element_family,
     p1_element_degree
  )

drt2_element =
  (
     drt_element_family,
     p2_element_degree
  )

bdm1_element =
  (
     bdm_element_family,
     p1_element_degree
  )

bdm2_element =
  (
     bdm_element_family,
     p2_element_degree
  )

n1curl1_element =
  (
     n1curl_element_family,
     p1_element_degree
  )

n1curl2_element =
  (
     n1curl_element_family,
     p2_element_degree
  )

n2curl1_element =
  (
     n2curl_element_family,
     p1_element_degree
  )

n2curl2_element =
  (
     n2curl_element_family,
     p2_element_degree
  )

p1_element =
  (
     cg_element_family,
     p1_element_degree
  )

p2_element =
  (
     cg_element_family,
     p2_element_degree
  )

p0_element =
  (
     dg_element_family,
     p0_element_degree
  )

p1dg_element =
  (
     dg_element_family,
     p1_element_degree
  )

p2dg_element =
  (
     dg_element_family,
     p2_element_degree
  )

p0r_element =
  (
     r_element_family,
     p0_element_degree
  )

quadrature_element =
  (
     q_element_family,
     quadrature_element_degree
  )

vector_element_options =
  (
    ## The size (length) of the vector.
    element size {
      integer
    }?
  )

tensor_element_options =
  (
    ## The shape of the tensor.
    element shape {
      integer_2_vector
    }?,
    ## Tensor symmetry.
    element symmetric {
      comment
    }?
  )

enrichment_options = 
  (
    element enrichment {
      element_options_enrichment
    }?
  )

element_options_enrichment =
  (
    (
       element element {
         attribute name { "UserDefined" },
         generic_enrichment_element,
         comment
       }|
       ## Options describing a
       element element {
         attribute name { "B3" },
         b3_element,
         comment
       }
    )
  )

element_options_scalar = element_options_scalar_not_lagrange
element_options_scalar |= element_options_scalar_lagrange
element_options_scalar |= element_options_scalar_user

element_options_scalar_user =
  (
     (
       ## Options describing a user defined finite element.
       element element {
         attribute name { "UserDefined" },
         generic_element,
         enrichment_options,
         quadrature_rule?,
         comment
       }
     )
  )

element_options_scalar_lagrange =
  (
     (
       ## Options describing piecewise linear continuous Lagrange finite element.
       element element {
         attribute name { "P1" },
         p1_element,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise quadratic continuous Lagrange finite element.
       element element {
         attribute name { "P2" },
         p2_element,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise linear discontinuous Lagrange finite element.
       element element {
         attribute name { "P1DG" },
         p1dg_element,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise quadratic discontinuous Lagrange finite element.
       element element {
         attribute name { "P2DG" },
         p2dg_element,
         enrichment_options,
         comment
       }
     )
  )

element_options_scalar_not_lagrange =
  (
     (
       ## Options describing piecewise constant discontinuous Lagrange finite element.
       element element {
         attribute name { "P0" },
         p0_element,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise constant continuous real, e.g. for a global Lagrange multiplier.
       element element {
         attribute name { "P0R" },
         p0r_element,
         comment
       }|
       ## Options describing a piecewise constant quadrature element.
       element element {
         attribute name { "Quadrature" },
         quadrature_element,
         quadrature_rule,
         comment
       }
     )
  )

element_options_vector =
  (
     (
       ## Options describing a user defined finite element for a vector.
       element element {
         attribute name { "UserDefined" },
         generic_vector_element,
         vector_element_options,
         enrichment_options,
         quadrature_rule?,
         comment
       }|
       ## Options describing piecewise linear continuous Lagrange finite element for a vector.
       element element {
         attribute name { "P1" },
         p1_element,
         vector_element_options,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise quadratic continuous Lagrange finite element for a vector.
       element element {
         attribute name { "P2" },
         p2_element,
         vector_element_options,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise linear discontinuous Lagrange finite element for a vector.
       element element {
         attribute name { "P1DG" },
         p1dg_element,
         vector_element_options,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise quadratic discontinuous Lagrange finite element for a vector.
       element element {
         attribute name { "P2DG" },
         p2dg_element,
         vector_element_options,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise constant discontinuous Lagrange finite element for a vector.
       element element {
         attribute name { "P0" },
         p0_element,
         vector_element_options,
         enrichment_options,
         comment
       }|
       ## Options describing first degree Raviart-Thomas element for a vector.
       element element {
         attribute name { "RT1" },
         rt1_element,
         enrichment_options,
         comment
       }|
       ## Options describing second degree Raviart-Thomas element for a vector.
       element element {
         attribute name { "RT2" },
         rt2_element,
         enrichment_options,
         comment
       }|
       ## Options describing first degree discontinuous Raviart-Thomas element for a vector.
       element element {
         attribute name { "DRT1" },
         drt1_element,
         enrichment_options,
         comment
       }|
       ## Options describing second degree discontinuous Raviart-Thomas element for a vector.
       element element {
         attribute name { "DRT2" },
         drt2_element,
         enrichment_options,
         comment
       }|
       ## Options describing first degree discontinuous Raviart-Thomas element for a vector.
       element element {
         attribute name { "BDM1" },
         bdm1_element,
         enrichment_options,
         comment
       }|
       ## Options describing second degree discontinuous Raviart-Thomas element for a vector.
       element element {
         attribute name { "BDM2" },
         bdm2_element,
         enrichment_options,
         comment
       }|
       ## Options describing first degree Nedelec 1st kind H(curl) element for a vector.
       element element {
         attribute name { "N1curl1" },
         n1curl1_element,
         enrichment_options,
         comment
       }|
       ## Options describing second degree Nedelec 1st kind H(curl) element for a vector.
       element element {
         attribute name { "N1curl2" },
         n1curl2_element,
         enrichment_options,
         comment
       }|
       ## Options describing first degree Nedelec 2nd kind H(curl) element for a vector.
       element element {
         attribute name { "N2curl1" },
         n2curl1_element,
         enrichment_options,
         comment
       }|
       ## Options describing second degree Nedelec 2nd kind H(curl) element for a vector.
       element element {
         attribute name { "N2curl2" },
         n2curl2_element,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise constant continuous real for a vector, e.g. for a global Lagrange multiplier.
       element element {
         attribute name { "P0R" },
         p0r_element,
         vector_element_options,
         comment
       }|
       ## Options describing a piecewise constant quadrature element for a vector.
       element element {
         attribute name { "Quadrature" },
         quadrature_element,
         vector_element_options,
         quadrature_rule,
         comment
       }
     )
  )

element_options_tensor =
  (
     (
       ## Options describing a user defined finite element for a tensor.
       element element {
         attribute name { "UserDefined" },
         generic_element,
         tensor_element_options,
         enrichment_options,
         quadrature_rule?,
         comment
       }|
       ## Options describing piecewise linear continuous Lagrange finite element for a tensor.
       element element {
         attribute name { "P1" },
         p1_element,
         tensor_element_options,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise quadratic continuous Lagrange finite element for a tensor.
       element element {
         attribute name { "P2" },
         p2_element,
         tensor_element_options,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise linear discontinuous Lagrange finite element for a tensor.
       element element {
         attribute name { "P1DG" },
         p1dg_element,
         tensor_element_options,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise quadratic discontinuous Lagrange finite element for a tensor.
       element element {
         attribute name { "P2DG" },
         p2dg_element,
         tensor_element_options,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise constant discontinuous Lagrange finite element for a tensor.
       element element {
         attribute name { "P0" },
         p0_element,
         tensor_element_options,
         enrichment_options,
         comment
       }|
       ## Options describing piecewise constant continuous real for a tensor, e.g. for a global Lagrange multiplier.
       element element {
         attribute name { "P0R" },
         p0r_element,
         tensor_element_options,
         comment
       }|
       ## Options describing a piecewise constant quadrature element for a tensor.
       element element {
         attribute name { "Quadrature" },
         quadrature_element,
         tensor_element_options,
         quadrature_rule,
         comment
       }
     )
  )

