buckettools/schemas/element.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0">
  <include href="spud_base.rng"/>
  <define name="generic_element_family">
    <element name="family">
      <a:documentation>Element family</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <choice>
          <value>CG</value>
          <value>DG</value>
          <value>R</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="cg_element_family">
    <element name="family">
      <a:documentation>Element family</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>CG</value>
      </element>
    </element>
  </define>
  <define name="dg_element_family">
    <element name="family">
      <a:documentation>Element family</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>DG</value>
      </element>
    </element>
  </define>
  <define name="r_element_family">
    <element name="family">
      <a:documentation>Element family</a:documentation>
      <!-- a hard coded string_value -->
      <element name="string_value">
        <value>R</value>
      </element>
    </element>
  </define>
  <define name="generic_element_degree">
    <element name="degree">
      <a:documentation>Element degree</a:documentation>
      <ref name="integer"/>
    </element>
  </define>
  <define name="p0_element_degree">
    <element name="degree">
      <a:documentation>Element degree</a:documentation>
      <element name="integer_value">
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <value>0</value>
      </element>
    </element>
  </define>
  <define name="p1_element_degree">
    <element name="degree">
      <a:documentation>Element degree</a:documentation>
      <element name="integer_value">
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <value>1</value>
      </element>
    </element>
  </define>
  <define name="p2_element_degree">
    <element name="degree">
      <a:documentation>Element degree</a:documentation>
      <element name="integer_value">
        <attribute name="rank">
          <value>0</value>
        </attribute>
        <value>2</value>
      </element>
    </element>
  </define>
  <define name="generic_element">
    <ref name="generic_element_family"/>
    <ref name="generic_element_degree"/>
  </define>
  <define name="p1_element">
    <ref name="cg_element_family"/>
    <ref name="p1_element_degree"/>
  </define>
  <define name="p2_element">
    <ref name="cg_element_family"/>
    <ref name="p2_element_degree"/>
  </define>
  <define name="p0_element">
    <ref name="dg_element_family"/>
    <ref name="p0_element_degree"/>
  </define>
  <define name="p1dg_element">
    <ref name="dg_element_family"/>
    <ref name="p1_element_degree"/>
  </define>
  <define name="p2dg_element">
    <ref name="dg_element_family"/>
    <ref name="p2_element_degree"/>
  </define>
  <define name="r_element">
    <ref name="r_element_family"/>
    <ref name="p0_element_degree"/>
  </define>
  <define name="vector_element_options">
    <optional>
      <element name="size">
        <a:documentation>The size (length) of the vector.</a:documentation>
        <ref name="integer"/>
      </element>
    </optional>
  </define>
  <define name="tensor_element_options">
    <optional>
      <element name="shape">
        <a:documentation>The shape of the tensor.</a:documentation>
        <ref name="integer_2_vector"/>
      </element>
    </optional>
    <optional>
      <element name="symmetric">
        <a:documentation>Tensor symmetry.</a:documentation>
        <empty/>
      </element>
    </optional>
  </define>
  <define name="element_options_scalar">
    <ref name="element_options_scalar_r"/>
  </define>
  <define name="element_options_scalar" combine="choice">
    <ref name="element_options_scalar_p0"/>
  </define>
  <define name="element_options_scalar" combine="choice">
    <ref name="element_options_scalar_lagrange"/>
  </define>
  <define name="element_options_scalar" combine="choice">
    <ref name="element_options_scalar_user"/>
  </define>
  <define name="element_options_scalar_user">
    <element name="element">
      <a:documentation>Options describing a user defined finite element.</a:documentation>
      <attribute name="name">
        <value>UserDefined</value>
      </attribute>
      <ref name="generic_element"/>
    </element>
  </define>
  <define name="element_options_scalar_lagrange">
    <choice>
      <element name="element">
        <a:documentation>Options describing piecewise linear continuous Lagrange finite element.</a:documentation>
        <attribute name="name">
          <value>P1</value>
        </attribute>
        <ref name="p1_element"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic continuous Lagrange finite element.</a:documentation>
        <attribute name="name">
          <value>P2</value>
        </attribute>
        <ref name="p2_element"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise linear discontinuous Lagrange finite element.</a:documentation>
        <attribute name="name">
          <value>P1DG</value>
        </attribute>
        <ref name="p1dg_element"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic discontinuous Lagrange finite element.</a:documentation>
        <attribute name="name">
          <value>P2DG</value>
        </attribute>
        <ref name="p2dg_element"/>
      </element>
    </choice>
  </define>
  <define name="element_options_scalar_r">
    <element name="element">
      <a:documentation>Options describing piecewise constant continuous real, e.g. for a global Lagrange multiplier.</a:documentation>
      <attribute name="name">
        <value>R</value>
      </attribute>
      <ref name="r_element"/>
    </element>
  </define>
  <define name="element_options_scalar_p0">
    <element name="element">
      <a:documentation>Options describing piecewise constant discontinuous Lagrange finite element.</a:documentation>
      <attribute name="name">
        <value>P0</value>
      </attribute>
      <ref name="p0_element"/>
    </element>
  </define>
  <define name="element_options_vector">
    <choice>
      <element name="element">
        <a:documentation>Options describing a user defined finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>UserDefined</value>
        </attribute>
        <ref name="generic_element"/>
        <ref name="vector_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise linear continuous Lagrange finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>P1</value>
        </attribute>
        <ref name="p1_element"/>
        <ref name="vector_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic continuous Lagrange finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>P2</value>
        </attribute>
        <ref name="p2_element"/>
        <ref name="vector_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise linear discontinuous Lagrange finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>P1DG</value>
        </attribute>
        <ref name="p1dg_element"/>
        <ref name="vector_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic discontinuous Lagrange finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>P2DG</value>
        </attribute>
        <ref name="p2dg_element"/>
        <ref name="vector_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise constant discontinuous Lagrange finite element for a vector.</a:documentation>
        <attribute name="name">
          <value>P0</value>
        </attribute>
        <ref name="p0_element"/>
        <ref name="vector_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise constant continuous real for a vector, e.g. for a global Lagrange multiplier.</a:documentation>
        <attribute name="name">
          <value>R</value>
        </attribute>
        <ref name="r_element"/>
        <ref name="vector_element_options"/>
      </element>
    </choice>
  </define>
  <define name="element_options_tensor">
    <choice>
      <element name="element">
        <a:documentation>Options describing a user defined finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>UserDefined</value>
        </attribute>
        <ref name="generic_element"/>
        <ref name="tensor_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise linear continuous Lagrange finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>P1</value>
        </attribute>
        <ref name="p1_element"/>
        <ref name="tensor_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic continuous Lagrange finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>P2</value>
        </attribute>
        <ref name="p2_element"/>
        <ref name="tensor_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise linear discontinuous Lagrange finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>P1DG</value>
        </attribute>
        <ref name="p1dg_element"/>
        <ref name="tensor_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise quadratic discontinuous Lagrange finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>P2DG</value>
        </attribute>
        <ref name="p2dg_element"/>
        <ref name="tensor_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise constant discontinuous Lagrange finite element for a tensor.</a:documentation>
        <attribute name="name">
          <value>P0</value>
        </attribute>
        <ref name="p0_element"/>
        <ref name="tensor_element_options"/>
      </element>
      <element name="element">
        <a:documentation>Options describing piecewise constant continuous real for a tensor, e.g. for a global Lagrange multiplier.</a:documentation>
        <attribute name="name">
          <value>R</value>
        </attribute>
        <ref name="r_element"/>
        <ref name="tensor_element_options"/>
      </element>
    </choice>
  </define>
</grammar>
