buckettools/schemas/geometry.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    Copyright (C) 2013 Columbia University in the City of New York and others.
    
    Please see the AUTHORS file in the main source directory for a full list
    of contributors.
    
    This file is part of TerraFERMA.
    
    TerraFERMA is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    TerraFERMA is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public License
    along with TerraFERMA. If not, see <http://www.gnu.org/licenses/>.
  -->
  <include href="spud_base.rng"/>
  <define name="geometry">
    <element name="geometry">
      <a:documentation>The parent node for options dealing with the specification of geometry (e.g. the dimension and meshes)</a:documentation>
      <element name="dimension">
        <a:documentation>Dimension of the problem.

**This can only be set once!**

This decides the autogenerated shape of all rank&gt;0 options below (though they may still be set independently).</a:documentation>
        <!-- a hard coded integer_value -->
        <element name="integer_value">
          <attribute name="rank">
            <value>0</value>
          </attribute>
          <choice>
            <value>1</value>
            <value>2</value>
            <value>3</value>
          </choice>
        </element>
      </element>
      <oneOrMore>
        <choice>
          <element name="mesh">
            <a:documentation>Options for describing the mesh with a user-specified name.  This name must be unique.</a:documentation>
            <attribute name="name">
              <data type="string"/>
            </attribute>
            <ref name="mesh_options"/>
          </element>
          <element name="mesh">
            <a:documentation>Options for describing the mesh, automatically called "Mesh".  This name must be unique.</a:documentation>
            <attribute name="name">
              <value>Mesh</value>
            </attribute>
            <ref name="mesh_options"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="mesh_options">
    <choice>
      <element name="source">
        <a:documentation>Choose the source of this mesh as an externally generated mesh file.</a:documentation>
        <attribute name="name">
          <value>File</value>
        </attribute>
        <element name="file">
          <a:documentation>Input the basename (i.e. without the .xml) of a DOLFIN format mesh. 
If mesh function files basename_facet_region.xml or basename_physical_region.xml
are found then these will also be automatically loaded and attached to the mesh
as boundary and cell ids respectively.

Note that if ids are attached to the mesh they must be used in the forms (dx 
and/or ds will not work without id information - dx(id) and/or ds(id))</a:documentation>
          <ref name="filename"/>
        </element>
        <element name="cell">
          <a:documentation>Choose the type of ufl cell</a:documentation>
          <!-- a hard coded string_value -->
          <element name="string_value">
            <choice>
              <value>interval</value>
              <value>triangle</value>
              <value>tetrahedron</value>
            </choice>
          </element>
        </element>
      </element>
      <element name="source">
        <a:documentation>Choose the source of this mesh as an internally generated 1d interval of length 1.

Boundary ids will be automatically assigned as:

    (left boundary) 1 ----- 2 (right boundary)

No region ids will be assigned.   
</a:documentation>
        <attribute name="name">
          <value>UnitInterval</value>
        </attribute>
        <element name="number_cells">
          <a:documentation>Specify the number of cells.</a:documentation>
          <ref name="integer"/>
        </element>
        <element name="cell">
          <a:documentation>The ufl cell type (no option allowed).</a:documentation>
          <element name="string_value">
            <value>interval</value>
          </element>
        </element>
      </element>
      <element name="source">
        <a:documentation>Choose the source of this mesh as an internally generated 1d interval.

Boundary ids will be automatically assigned as:

    (left boundary) 1 ----- 2 (right boundary)

No region ids will be assigned.   
</a:documentation>
        <attribute name="name">
          <value>Interval</value>
        </attribute>
        <element name="left">
          <a:documentation>Location of left boundary.</a:documentation>
          <ref name="real"/>
        </element>
        <element name="right">
          <a:documentation>Location of right boundary.</a:documentation>
          <ref name="real"/>
        </element>
        <element name="number_cells">
          <a:documentation>Specify the number of cells.</a:documentation>
          <ref name="integer"/>
        </element>
        <element name="cell">
          <a:documentation>The ufl cell type (no option allowed).</a:documentation>
          <element name="string_value">
            <value>interval</value>
          </element>
        </element>
      </element>
      <element name="source">
        <a:documentation>Choose the source of this mesh as an internally generated 2d square of width and height 1.

Boundary ids will be automatically assigned as:
                         4 (top boundary)
                       ----- 
    (left boundary) 1 |     | 2 (right boundary)
                       ----- 
                         3 (bottom boundary)

No region ids will be assigned.   
</a:documentation>
        <attribute name="name">
          <value>UnitSquare</value>
        </attribute>
        <element name="number_cells">
          <a:documentation>Specify the number of cells in each dimension.</a:documentation>
          <ref name="integer_2_vector"/>
        </element>
        <element name="diagonal">
          <a:documentation>Specify the direction in which the diagonal should lie.</a:documentation>
          <!-- a hard coded string_value -->
          <element name="string_value">
            <choice>
              <value>left</value>
              <value>right</value>
              <value>right/left</value>
              <value>left/right</value>
              <value>crossed</value>
            </choice>
          </element>
        </element>
        <element name="cell">
          <a:documentation>The ufl cell type (no option allowed).</a:documentation>
          <element name="string_value">
            <value>triangle</value>
          </element>
        </element>
      </element>
      <element name="source">
        <a:documentation>Choose the source of this mesh as an internally generated 2d rectangle.

Boundary ids will be automatically assigned as:
                         4 (top boundary)
                       ----- 
    (left boundary) 1 |     | 2 (right boundary)
                       ----- 
                         3 (bottom boundary)

No region ids will be assigned.   
</a:documentation>
        <attribute name="name">
          <value>Rectangle</value>
        </attribute>
        <element name="lower_left">
          <a:documentation>Location of lower left corner.

     ----- 
    |     | 
     x---- 
</a:documentation>
          <ref name="real_2_vector"/>
        </element>
        <element name="upper_right">
          <a:documentation>Location of upper right corner.

     ----x
    |     | 
     ----- 
</a:documentation>
          <ref name="real_2_vector"/>
        </element>
        <element name="number_cells">
          <a:documentation>Specify the number of cells in each dimension.</a:documentation>
          <ref name="integer_2_vector"/>
        </element>
        <element name="diagonal">
          <a:documentation>Specify the direction in which the diagonal should lie.</a:documentation>
          <!-- a hard coded string_value -->
          <element name="string_value">
            <choice>
              <value>left</value>
              <value>right</value>
              <value>right/left</value>
              <value>left/right</value>
              <value>crossed</value>
            </choice>
          </element>
        </element>
        <element name="cell">
          <a:documentation>The ufl cell type (no option allowed).</a:documentation>
          <element name="string_value">
            <value>triangle</value>
          </element>
        </element>
      </element>
      <element name="source">
        <a:documentation>Choose the source of this mesh as an internally generated 2d circle of radius 1.

No boundary or region ids will be assigned.</a:documentation>
        <attribute name="name">
          <value>UnitCircle</value>
        </attribute>
        <element name="number_cells">
          <a:documentation>Specify the number of cells (same in both dimensions).</a:documentation>
          <ref name="integer"/>
        </element>
        <element name="diagonal">
          <a:documentation>Specify the direction in which the diagonal should lie.</a:documentation>
          <!-- a hard coded string_value -->
          <element name="string_value">
            <choice>
              <value>left</value>
              <value>right</value>
              <value>crossed</value>
            </choice>
          </element>
        </element>
        <element name="transformation">
          <a:documentation>Specify the transformation to the unit circle.</a:documentation>
          <!-- a hard coded string_value -->
          <element name="string_value">
            <choice>
              <value>maxn</value>
              <value>sumn</value>
              <value>rotsumn</value>
            </choice>
          </element>
        </element>
        <element name="cell">
          <a:documentation>The ufl cell type (no option allowed).</a:documentation>
          <element name="string_value">
            <value>triangle</value>
          </element>
        </element>
      </element>
      <element name="source">
        <a:documentation>Choose the source of this mesh as an internally generated 3d cube of width, depth and height 1.

Boundary ids will be automatically assigned as:
                          ______
                         /  4 (top boundary)
                        /_____/ 2 (right boundary)
                       |     |  | 6 (back boundary)
    (left boundary) 1  |  5 (front boundary)
                       |_____|/3 (bottom boundary)
  
No region ids will be assigned.   </a:documentation>
        <attribute name="name">
          <value>UnitCube</value>
        </attribute>
        <element name="number_cells">
          <a:documentation>Specify the number of cells in each dimension.</a:documentation>
          <ref name="integer_3_vector"/>
        </element>
        <element name="cell">
          <a:documentation>The ufl cell type (no option allowed).</a:documentation>
          <element name="string_value">
            <value>tetrahedron</value>
          </element>
        </element>
      </element>
      <element name="source">
        <a:documentation>Choose the source of this mesh as an internally generated 3d box.

Boundary ids will be automatically assigned as:
                          ______
                         /  4 (top boundary)
                        /_____/ 2 (right boundary)
                       |     |  | 6 (back boundary)
    (left boundary) 1  |  5 (front boundary)
                       |_____|/3 (bottom boundary)
  
No region ids will be assigned.   </a:documentation>
        <attribute name="name">
          <value>Box</value>
        </attribute>
        <element name="lower_back_left">
          <a:documentation>Location of lower back left corner.
       ______
      /     /|
     /_____/ |
    |      | |
    |   x  | /
    |______|/
</a:documentation>
          <ref name="real_3_vector"/>
        </element>
        <element name="upper_front_right">
          <a:documentation>Location of upper front right corner.
       ______
      /     /|
     /____x/ |
    |     |  |
    |     | /
    |_____|/
</a:documentation>
          <ref name="real_3_vector"/>
        </element>
        <element name="number_cells">
          <a:documentation>Specify the number of cells in each dimension.</a:documentation>
          <ref name="integer_3_vector"/>
        </element>
        <element name="cell">
          <a:documentation>The ufl cell type (no option allowed).</a:documentation>
          <element name="string_value">
            <value>tetrahedron</value>
          </element>
        </element>
      </element>
    </choice>
  </define>
</grammar>
