buckettools/schemas/timestepping.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    Copyright (C) 2013 Columbia University in the City of New York and others.
    
    Please see the AUTHORS file in the main source directory for a full list
    of contributors.
    
    This file is part of TerraFERMA.
    
    TerraFERMA is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    TerraFERMA is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public License
    along with TerraFERMA. If not, see <http://www.gnu.org/licenses/>.
  -->
  <include href="spud_base.rng"/>
  <define name="timestepping">
    <element name="timestepping">
      <a:documentation>Options for timestepping if this is a dynamic simulation (leave inactive for steady state simulations)</a:documentation>
      <element name="current_time">
        <a:documentation>The current time at the start of the simulation</a:documentation>
        <ref name="real"/>
      </element>
      <choice>
        <element name="finish_time">
          <a:documentation>The time at which the simulation should stop</a:documentation>
          <ref name="real"/>
        </element>
        <element name="number_timesteps">
          <a:documentation>The number of timesteps after which the simulation should stop</a:documentation>
          <ref name="integer"/>
        </element>
      </choice>
      <element name="timestep">
        <a:documentation>Options for the timestep</a:documentation>
        <element name="coefficient">
          <a:documentation>Options describing a coefficient in this system</a:documentation>
          <attribute name="name">
            <value>Timestep</value>
          </attribute>
          <ref name="special_ufl_symbol"/>
          <element name="type">
            <a:documentation>The type of coefficient.

Constants are spatially constant expressions.</a:documentation>
            <attribute name="name">
              <value>Constant</value>
            </attribute>
            <element name="rank">
              <a:documentation>The rank of the coefficient (scalar, rank 0).</a:documentation>
              <attribute name="name">
                <value>Scalar</value>
              </attribute>
              <ref name="timestep_constant_options"/>
              <ref name="comment"/>
            </element>
            <ref name="comment"/>
          </element>
          <ref name="comment"/>
        </element>
        <optional>
          <element name="adaptive">
            <a:documentation>Options to adapt the timestep based on a field in a system</a:documentation>
            <oneOrMore>
              <element name="constraint">
                <a:documentation>Provide the name of a field (and the system it is described in) and its target maximum value.

This should be a Courant number like field so that the timestep is calculated such that:

dt = (current_dt*requested_maximum_value)/current_maximum_value

If multiple constraints are provided the minimum timestep is taken.</a:documentation>
                <attribute name="name">
                  <data type="string"/>
                </attribute>
                <element name="system">
                  <a:documentation>The system name</a:documentation>
                  <attribute name="name">
                    <data type="string"/>
                  </attribute>
                  <ref name="comment"/>
                </element>
                <choice>
                  <element name="field">
                    <a:documentation>The field name

Field is assumed to be Scalar.</a:documentation>
                    <attribute name="name">
                      <data type="string"/>
                    </attribute>
                    <ref name="comment"/>
                  </element>
                  <element name="coefficient">
                    <a:documentation>The coefficient name

Coefficient is assumed to be Scalar.</a:documentation>
                    <attribute name="name">
                      <data type="string"/>
                    </attribute>
                    <ref name="comment"/>
                  </element>
                </choice>
                <element name="requested_maximum_value">
                  <a:documentation>The target maximum value requested for the above field</a:documentation>
                  <ref name="real"/>
                </element>
                <ref name="comment"/>
              </element>
            </oneOrMore>
            <optional>
              <choice>
                <element name="adapt_period">
                  <a:documentation>The period in simulation time at which the timestep is recalculated.

Defaults to every timestep if not selected.</a:documentation>
                  <ref name="real"/>
                </element>
                <element name="adapt_period_in_timesteps">
                  <a:documentation>The number of timesteps between recalculations of the optimal timestep.

Defaults to 1 (every timestep) if not selected.</a:documentation>
                  <ref name="integer"/>
                </element>
              </choice>
            </optional>
            <optional>
              <element name="increase_tolerance">
                <a:documentation>The maximum ratio by which the timestep is allowed
to increase in a timestep adapt. e.g., a value of
1.1 indicates that the timestep may be increased by
at most 10%.</a:documentation>
                <ref name="real"/>
              </element>
            </optional>
            <ref name="comment"/>
          </element>
        </optional>
        <ref name="comment"/>
      </element>
      <optional>
        <element name="steady_state">
          <a:documentation>Check for a steady state by comparing the previous timestep's values
to the most recent compared to the given tolerance in the given norm</a:documentation>
          <element name="tolerance">
            <a:documentation>Tolerance in which to test for a steady state</a:documentation>
            <ref name="real"/>
          </element>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="walltime_limit">
          <a:documentation>Set a walltime limit (in seconds) after which the simulation will be terminated.

Useful in combination with checkpointing on clusters.</a:documentation>
          <ref name="real"/>
        </element>
      </optional>
      <ref name="comment"/>
    </element>
  </define>
  <define name="timestep_constant_options">
    <attribute name="rank">
      <value>0</value>
    </attribute>
    <ref name="constant_timestep"/>
  </define>
  <define name="constant_timestep">
    <element name="value">
      <a:documentation>Options for the description of an expression over the domain</a:documentation>
      <attribute name="name">
        <value>WholeMesh</value>
      </attribute>
      <ref name="prescribed_scalar_constant"/>
      <ref name="comment"/>
    </element>
  </define>
  <define name="nonlinear_systems_tolerances">
    <element name="relative_error">
      <a:documentation>The relative error allowed to remain in the vector l2 norm of the combined systems residual upon termination
of the iteration loop.

If a system contains multiple solvers, the residual defined in the last solver is taken as that system's
residual.</a:documentation>
      <ref name="real"/>
    </element>
    <optional>
      <element name="absolute_error">
        <a:documentation>The absolute error allowed to remain in the vector l2 norm of the combined systems residual upon termination
of the iteration loop.

Defaults to 1.e-50.</a:documentation>
        <ref name="real"/>
      </element>
    </optional>
    <element name="max_iterations">
      <a:documentation>The maximum number of iterations to take in this nonlinear system loop.</a:documentation>
      <ref name="integer"/>
    </element>
    <optional>
      <element name="min_iterations">
        <a:documentation>The minimum number of iterations to take in this nonlinear system loop.</a:documentation>
        <ref name="integer"/>
      </element>
    </optional>
    <element name="monitors">
      <a:documentation>Options to give extra information for each iteration of the
timestep. Some of those may really slow down your computation!</a:documentation>
      <optional>
        <element name="visualization">
          <a:documentation>Output pvd visualization of the solution and residual at each iteration.

WARNING: This will produce a lot of output so should only be used for debugging purposes!</a:documentation>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="convergence_file">
          <a:documentation>Output a diagnostic file detailing the convergence of the nonlinear system iterations.</a:documentation>
          <ref name="comment"/>
        </element>
      </optional>
    </element>
    <choice>
      <element name="never_ignore_solver_failures">
        <a:documentation>Never ignore solver failures (the highly recommended default).

This option tests the convergence of the nonlinear systems and terminates the simulations at the end of the next iteration 
if it has failed to converge.

This option does not affect the handling of convergence failures within each system solver.</a:documentation>
        <ref name="comment"/>
      </element>
      <element name="ignore_all_solver_failures">
        <a:documentation>Ignore solver failures.  Intended for debugging purposes only!

**Do not use this option in any scientific simulation.**

This option allows the simulation to continue even if the nonlinear systems fail to meet the convergence criteria.

This option does not affect the handling of convergence failures within each system solver.</a:documentation>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
  <define name="solution_order">
    <element name="solution_order">
      <a:documentation>By default, TerraFERMA calls solvers in the order in which they appear in the options file: first by system and then by
nonlinear_solver.

The solution_order option allows this to be overridden and, additionally, allows nonlinearities between systems to be
iteratively accounted for (to some specified tolerance).

Three solve locations are currently implemented in TerraFERMA: at_start, in_timeloop and with_diagnostics.  Activating a
solution_order option here for any of these will over-ride the solve location designation described under the nonlinear_solver
itself.</a:documentation>
      <optional>
        <element name="solve">
          <a:documentation>Activate this option to over-ride the default solution order (by system and then by nonlinear_solver) at the start of the
simulation.  Note that this will ignore the solve::at_start option underneath the nonlinear_solver itself.
Once activated here, nonlinear_solvers with a solve::at_start option must be explicitly listed here to actually be
solved.</a:documentation>
          <attribute name="name">
            <value>at_start</value>
          </attribute>
          <oneOrMore>
            <ref name="nonlinear_solver_step"/>
          </oneOrMore>
          <optional>
            <ref name="nonlinear_coupled"/>
          </optional>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="solve">
          <a:documentation>Activate this option to over-ride the default solution order (by system and then by nonlinear_solver) in the timeloop of the
simulation.  Note that this will ignore the solve::in_timeloop option underneath the nonlinear_solver itself.
Once activated here, nonlinear_solvers with a solve::in_timeloop option must be explicitly listed here to actually be
solved.</a:documentation>
          <attribute name="name">
            <value>in_timeloop</value>
          </attribute>
          <oneOrMore>
            <ref name="nonlinear_solver_step"/>
          </oneOrMore>
          <optional>
            <ref name="nonlinear_coupled"/>
          </optional>
          <ref name="comment"/>
        </element>
      </optional>
      <optional>
        <element name="solve">
          <a:documentation>Activate this option to over-ride the default solution order (by system and then by nonlinear_solver) with the diagnostics of the
simulation.  Note that this will ignore the solve::with_diagnostics option underneath the nonlinear_solver itself.
Once activated here, nonlinear_solvers with a solve::with_diagnostics option must be explicitly listed here to actually be
solved.</a:documentation>
          <attribute name="name">
            <value>with_diagnostics</value>
          </attribute>
          <oneOrMore>
            <ref name="nonlinear_solver_step"/>
          </oneOrMore>
          <optional>
            <ref name="nonlinear_coupled"/>
          </optional>
          <ref name="comment"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="nonlinear_coupled">
    <element name="coupled">
      <a:documentation>Sometime an individual system or nonlinear_solver needs to be solved outside of the standard solve locations.  For example,
when updating the timestep or when some systems request diagnostic output but others don't.

On these occasions the individual non_linear solvers here are, by default, assumed not to be coupled together.  Turning on
these options forces all the solvers to be solved together always, incorporating any (one-way) dependencies between successive
systems.

This does not affect the solution order in the timeloop or at the start of the simulation where all solvers are always
solved in the solution order specified here.</a:documentation>
      <ref name="comment"/>
    </element>
  </define>
  <define name="nonlinear_solver_step">
    <element name="solver">
      <a:documentation>Specify the solver to be solved here.

This can either be a reference to a nonlinear_solver in a system or a new nonlinear systems solver that iterates over
multiple nonlinear_solvers to converge nonlinearities between systems.</a:documentation>
      <attribute name="name">
        <data type="string"/>
      </attribute>
      <choice>
        <element name="type">
          <a:documentation>Choose the type of the solver.

This can either be a reference to a nonlinear_solver in a system or a new nonlinear systems solver that iterates over
multiple nonlinear_solvers to converge nonlinearities between systems.</a:documentation>
          <attribute name="name">
            <value>nonlinear_solver</value>
          </attribute>
          <element name="system">
            <a:documentation>The system name</a:documentation>
            <attribute name="name">
              <data type="string"/>
            </attribute>
            <ref name="comment"/>
          </element>
          <element name="nonlinear_solver">
            <a:documentation>The nonlinear solver name</a:documentation>
            <attribute name="name">
              <data type="string"/>
            </attribute>
            <ref name="comment"/>
          </element>
        </element>
        <element name="type">
          <a:documentation>Choose the type of the solver.

This can either be a reference to a nonlinear_solver in a system or a new nonlinear systems solver that iterates over
multiple nonlinear_solvers to converge nonlinearities between systems.</a:documentation>
          <attribute name="name">
            <value>nonlinear_systems_solver</value>
          </attribute>
          <ref name="nonlinear_systems_tolerances"/>
          <oneOrMore>
            <ref name="nonlinear_solver_step"/>
          </oneOrMore>
          <ref name="comment"/>
        </element>
      </choice>
    </element>
  </define>
</grammar>
